@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@media (max-width: 992px) {
  .wrapper-main-menu a {
    padding: 0px !important;
    margin: 20px;
  }
}

@media (max-width: 780px) {
  .wrapper-main-menu li:nth-child(-n+3) {
    display: none !important;
  }
}

@media (max-width: 1020px) {
  .navigation ul {
    display: block !important;
  }
  .navigation ul .content2 {
    display: none;
  }
}

@media (max-width: 1350px) {
  .icons a {
    display: inline-block !important;
  }
}

@media (max-width: 900px) {
  .navigation .content a {
    font-size: 70px !important;
  }
}

@media (max-width: 600px) {
  .navigation .content a {
    font-size: 50px !important;
  }
}

@media (max-width: 1118px) {
  .cardCarousel .card-body .card-title {
    padding: 3px 0 !important;
  }
  .cardCarousel .card-body .card-text {
    font-size: 33px !important;
  }
}

@media (max-width: 765px) {
  .cardCarousel .card-body .card-text {
    font-size: 28px !important;
  }
}

@media (max-width: 600px) {
  .cardCarousel .card-body .card-text {
    font-size: 40px !important;
  }
}

@media (max-width: 1200px) {
  .wrapper-menu ul a, .wrapper-menu2 ul a, .wrapper-menu3 ul a {
    margin-right: 5px !important;
    font-size: 13px !important;
  }
}

@media (max-width: 993px) {
  .ferst-block {
    padding: 5rem 2rem !important;
  }
  .ferst-block h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 766px) {
  .ferst-block {
    padding: 5rem 0rem !important;
  }
  .ferst-block h2 {
    font-size: 25px !important;
  }
}

@media (max-width: 766px) {
  .second-block .product {
    padding: 60px 10px !important;
  }
  .second-block .product h2 {
    font-size: 40px !important;
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .wrapperWidth {
    display: block !important;
  }
  .wrapperWidth .blockImg {
    width: 100% !important;
    height: 480px !important;
  }
  .wrapperWidth .blockImg .imagine {
    border-radius: 20px 0px 0px 0px !important;
  }
  .wrapperWidth .blockText {
    width: 100% !important;
    height: 110px !important;
    border-radius: 0px 0px 20px 20px !important;
  }
  .wrapperWidth .blockText p {
    font-size: 24px !important;
    padding: 10px 20px !important;
  }
}

@media (max-width: 462px) {
  .wrapperWidth .blockText {
    height: 140px !important;
  }
  .wrapperWidth .blockText p {
    font-size: 24px !important;
    padding: 10px 20px !important;
  }
}

@media (max-width: 440px) {
  .wrapperWidth .blockImg {
    height: 400px !important;
  }
}

@media (max-width: 1200px) {
  .card-group .card {
    height: 180px !important;
  }
}

@media (max-width: 800px) {
  .nameHeader {
    margin-bottom: 20px !important;
  }
  .card-group {
    display: block !important;
  }
  .card-group .card {
    border-right: none !important;
    border-bottom: 1px solid #F3E9E2 !important;
    height: auto !important;
  }
  .card-group .card:last-child {
    border-bottom: none !important;
  }
}

@media (max-width: 800px) {
  marquee {
    font-size: 50px !important;
    padding: 30px 0 !important;
  }
}

@media (max-width: 600px) {
  marquee {
    font-size: 30px !important;
    padding: 30px 0 !important;
  }
}

@media (max-width: 1200px) {
  .headercard h5 {
    font-size: 30px !important;
  }
}

@media (max-width: 600px) {
  .slide-two .card .card-text, .slide-4 .card .card-text {
    height: 90px;
  }
  .slide-two .card .headercard h5, .slide-4 .card .headercard h5 {
    font-size: 40px !important;
  }
}

@media (max-width: 1000px) {
  .block-hight {
    height: 400px !important;
  }
}

@media (max-width: 1000px) {
  .padd2 {
    margin-top: 300px !important;
  }
}

@media (max-width: 900px) {
  .wrapper-text-blocks .card .card-title {
    font-size: 50px !important;
  }
  .wrapper-text-blocks .card .card-text {
    font-size: 36px !important;
  }
  .wrapper-text-blocks .btn {
    margin-top: 10px !important;
  }
}

@media (max-width: 1000px) {
  .wrapper-text-blocks {
    margin-top: 380px !important;
  }
}

@media (max-width: 500px) {
  .wrapper-text-blocks .card .card-title {
    font-size: 45px !important;
    line-height: 1;
  }
  .wrapper-text-blocks .card .card-text {
    font-size: 30px !important;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .wrapper-text-blocks .card .card-title {
    font-size: 35px !important;
    line-height: 1;
  }
}

@media (max-width: 1200px) {
  .blockOne {
    width: 70% !important;
  }
  .blockTwo {
    width: 30% !important;
  }
  .blockForm input {
    width: 270px;
  }
}

@media (max-width: 1200px) {
  .miniMenu {
    display: block !important;
  }
  .miniMenu .link {
    width: 100% !important;
  }
  .miniMenu .link ul {
    display: block !important;
  }
  .miniMenu .iconslink {
    width: 100% !important;
    text-align: left !important;
  }
}

@media (max-width: 1000px) {
  .wrapperFooter {
    width: 100%;
    display: block !important;
  }
  .blockOne {
    width: 100% !important;
  }
  .blockTwo {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .blockForm form {
    display: block !important;
  }
  .blockForm form .mrWith {
    margin-right: 0 !important;
  }
  .blockForm input {
    width: 100% !important;
  }
}

@media (max-width: 577px) {
  .wrapperFooter {
    padding: 0 20px;
  }
}

@media (max-width: 577px) {
  .wrapperlogoFooter {
    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .wrapperlogoFooter {
    margin-top: 30px;
  }
  .wrapperlogoFooter .image-logo img {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
  }
  .wrapperlogoFooter .Copyright p {
    text-align: center !important;
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    height: 600px !important;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    height: 550px !important;
  }
}

@media (max-width: 670px) {
  .wrapper {
    height: 490px !important;
  }
}

@media (max-width: 1254px) {
  .description, .descriptiontwo, .descriptionpress {
    top: 200px !important;
    width: 70% !important;
  }
}

@media (max-width: 1000px) {
  .description, .descriptiontwo, .descriptionpress {
    top: 200px !important;
  }
  .description span, .descriptiontwo span, .descriptionpress span {
    font-size: 80px !important;
  }
}

@media (max-width: 825px) {
  .description, .descriptiontwo, .descriptionpress {
    top: 250px !important;
    width: 80% !important;
  }
}

@media (max-width: 722px) {
  .description, .descriptiontwo, .descriptionpress {
    top: 230px !important;
    width: 80% !important;
  }
  .description span, .descriptiontwo span, .descriptionpress span {
    font-size: 80px !important;
  }
}

@media (max-width: 665px) {
  .description, .descriptiontwo, .descriptionpress {
    top: 280px !important;
  }
  .description span, .descriptiontwo span, .descriptionpress span {
    font-size: 50px !important;
  }
}

@media (max-width: 725px) {
  .descriptiontwo span, .descriptionpress span {
    font-size: 50px !important;
  }
}

@media (max-width: 756px) {
  .descriptiontwo span, .descriptionpress span {
    font-size: 80px !important;
  }
}

@media (max-width: 550px) {
  .descriptiontwo span, .descriptionpress span {
    font-size: 40px !important;
  }
}

@media (max-width: 580px) {
  .menuphone a {
    font-size: 40px !important;
  }
}

@media (max-width: 400px) {
  .menuphone a {
    font-size: 30px !important;
  }
}

@media (max-width: 400px) {
  .copyrat {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .logoImg {
    width: 140px;
  }
}

@media (max-width: 800px) {
  .tetxLogo, .tetxLogoDark {
    font-size: 45px !important;
  }
}

@media (max-width: 500px) {
  .tetxLogo, .tetxLogoDark {
    font-size: 35px !important;
  }
}

@media (max-width: 800px) {
  .tetxLogoDark {
    font-size: 45px !important;
  }
}

@media (max-width: 500px) {
  .tetxLogoDark {
    font-size: 35px !important;
  }
}

@media (max-width: 1400px) {
  .wrapper-menu, .wrapper-menu2, .wrapper-menu3 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .ShowPhone {
    display: none;
  }
}

@media (max-width: 1000px) {
  .specification {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

@media (max-width: 1227px) {
  .blockWith {
    height: auto !important;
  }
}

@media (max-width: 800px) {
  .blockWith {
    display: block !important;
  }
  .blockWith .blokeone, .blockWith .bloktwo {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .imagine {
    height: 500px !important;
  }
  .heading {
    font-size: 50px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 440px) {
  .imagine {
    height: 400px !important;
  }
  .heading {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 550px) {
  .information .missiondescript {
    padding: 0 40px;
  }
  .information .missiondescript p {
    font-size: 35px !important;
  }
}

@media (max-width: 400px) {
  .information .missiondescript {
    padding: 0px !important;
  }
  .information .missiondescript p {
    font-size: 30px !important;
  }
}

@media (max-width: 992px) {
  .team .card .card-img-top {
    height: 500px !important;
  }
  .team .card .card-title {
    font-size: 50px !important;
  }
  .team .card .card-text {
    font-size: 17px !important;
  }
}

@media (max-width: 400px) {
  .team .card .card-title {
    font-size: 40px !important;
  }
}

@media (max-width: 1200px) {
  .blokrespons .textblockone p, .blokresponstwo .textblockone p {
    font-size: 65px !important;
  }
}

@media (max-width: 993px) {
  .blokrespons .textblockone, .blokresponstwo .textblockone {
    width: 50%;
    padding-right: 50px;
  }
  .blokrespons .textblockone p, .blokresponstwo .textblockone p {
    font-size: 50px !important;
  }
}

@media (max-width: 800px) {
  .blokrespons, .blokresponstwo {
    display: block !important;
  }
  .blokrespons .textblockone, .blokresponstwo .textblockone {
    width: 100% !important;
    text-align: center;
    padding-right: 0 !important;
  }
  .blokrespons .textblocktwo, .blokresponstwo .textblocktwo {
    width: 100% !important;
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .blokresponstwo {
    display: block !important;
  }
  .blokresponstwo .textblockone {
    width: 100% !important;
    text-align: center;
    padding-right: 0 !important;
  }
  .blokresponstwo .textblocktwo {
    width: 100% !important;
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .blokrespons .textblockone p, .blokresponstwo .textblockone p {
    font-size: 40px !important;
  }
}

@media (max-width: 991px) {
  .responsivblock .bloktext p {
    margin-top: 140px !important;
  }
}

@media (max-width: 770px) {
  .responsivblock {
    display: block !important;
    height: auto !important;
  }
  .responsivblock .blokimg {
    width: 100% !important;
  }
  .responsivblock .blokimg img {
    height: 600px !important;
  }
  .responsivblock .bloktext {
    width: 100% !important;
    padding: 40px 0px !important;
  }
  .responsivblock .bloktext h5 {
    font-size: 60px;
  }
  .responsivblock .bloktext p {
    margin-top: 40px !important;
  }
}

@media (max-width: 450px) {
  .responsivblock .blokimg {
    width: 100% !important;
  }
  .responsivblock .blokimg img {
    height: 400px !important;
  }
  .responsivblock .bloktext h5 {
    font-size: 40px !important;
  }
  .responsivblock .bloktext p {
    margin-top: 40px !important;
  }
}

@media (max-width: 1000px) {
  .block-hightbig {
    height: 600px !important;
  }
}

@media (max-width: 990px) {
  .blockfooter .footertext {
    padding: 60px 40px !important;
  }
  .blockfooter .footertext h5 {
    font-size: 60px !important;
  }
}

@media (max-width: 800px) {
  .blockfooter {
    margin-bottom: 40px !important;
    display: block !important;
  }
  .blockfooter .footerimg {
    padding: 0px 20px !important;
    width: 100% !important;
  }
  .blockfooter .footertext {
    width: 100% !important;
    padding: 30px 20px !important;
  }
  .blockfooter .footertext h5 {
    font-size: 50px !important;
  }
}

@media (max-width: 450px) {
  .blockfooter .footertext h5 {
    font-size: 40px !important;
  }
}

@media (max-width: 600px) {
  .testinonials {
    padding: 0 !important;
  }
}

@media (max-width: 400px) {
  .testinonials p {
    font-size: 40px !important;
  }
}

@media (max-width: 800px) {
  .blockflex, .blockflexfoot {
    display: block !important;
  }
  .blockflex .bagraund, .blockflexfoot .bagraund {
    width: 100% !important;
  }
  .blockflex .blockwithtext, .blockflexfoot .blockwithtext {
    width: 100% !important;
    padding: 20px 20px 50px 20px !important;
  }
  .blockflex .blockwithtext a, .blockflexfoot .blockwithtext a {
    text-transform: uppercase;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .flexblock .flextext h4 {
    font-size: 30px !important;
  }
}

@media (max-width: 800px) {
  .flexblock {
    display: block !important;
    height: auto !important;
  }
  .flexblock .fleximg {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .flexblock .fleximg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px !important;
    border-radius: 0 !important;
  }
  .flexblock .flextext {
    width: 100% !important;
    padding: 40px 20px !important;
    border-radius: 0 !important;
  }
  .flexblock .flextext .textflexs {
    -webkit-transform: translate(-50%, -10%) !important;
            transform: translate(-50%, -10%) !important;
  }
}

@media (max-width: 767px) {
  .card-between .card .card-title {
    height: 140px !important;
  }
}

@media (max-width: 1191px) {
  .blockflexfoot {
    height: auto !important;
  }
  .blockflexfoot h6 {
    margin-bottom: 120px !important;
  }
  .blockflexfoot p {
    font-size: 15px !important;
  }
}

@media (max-width: 800px) {
  .blockflexfoot h6 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 1200px) {
  .women p {
    font-size: 35px !important;
    line-height: 1.1;
    font-family: "Libre Caslon Display", serif;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .women p {
    font-size: 30px !important;
    line-height: 1.1;
    font-family: "Libre Caslon Display", serif;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .women {
    height: auto !important;
    display: block !important;
  }
  .women .blockwithimg {
    width: 100% !important;
  }
  .women .blockwithimg img {
    height: 450px !important;
  }
  .women .bltext {
    width: 100% !important;
    padding: 40px !important;
  }
}

@media (max-width: 400px) {
  .women .bltext p {
    font-size: 25px !important;
  }
}

@media (max-width: 800px) {
  .slide-tree .card {
    width: 100% !important;
  }
  .slide-tree img {
    width: 150px !important;
    height: 150px;
  }
  .slide-tree p {
    font-size: 40px !important;
    font-family: "Libre Caslon Display", serif;
    margin-bottom: 30px;
  }
  .slide-tree .card-body {
    margin-top: 30px;
    padding: 0 40px;
  }
  .slide-tree .card-body p {
    font-size: 16px !important;
    font-family: none;
  }
}

@media (min-width: 800px) {
  .slide-tree img {
    width: 250px !important;
    height: 250px;
  }
}

@media (max-width: 400px) {
  .slide-tree p {
    font-size: 30px !important;
  }
  .slide-tree .card-body {
    padding: 0 20px !important;
  }
  .slide-tree .card-body p {
    font-size: 16px !important;
  }
}

@media (max-width: 335px) {
  .slide-tree .owl-dot {
    height: 10px !important;
    width: 10px !important;
  }
}

@media (max-width: 1199px) {
  .slide-fo .card-text {
    font-size: 40px !important;
  }
}

@media (max-width: 1000px) {
  .slide-fo .card-text {
    font-size: 45px !important;
  }
}

@media (max-width: 800px) {
  .slide-fo .card-text {
    font-size: 40px !important;
  }
}

@media (max-width: 1199px) {
  .blocklflex, .blocklfle {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  .blocklflex .texts h3, .blocklfle .texts h3 {
    font-size: 50px !important;
  }
}

@media (max-width: 800px) {
  .blocklflex, .blocklfle {
    display: block !important;
  }
  .blocklflex .photo, .blocklfle .photo {
    width: 100% !important;
  }
  .blocklflex .photo img, .blocklfle .photo img {
    height: 400px !important;
  }
  .blocklflex .texts, .blocklfle .texts {
    width: 100% !important;
    padding: 20px !important;
  }
  .blocklflex .texts h3, .blocklfle .texts h3 {
    font-size: 40px !important;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 400px) {
  .blocklflex .texts h3, .blocklfle .texts h3 {
    font-size: 30px !important;
  }
}

@media (max-width: 991px) {
  .blocklfle .texts p {
    font-size: 35px !important;
  }
}

@media (max-width: 800px) {
  .blocklfle .texts {
    padding: 20px !important;
  }
  .blocklfle .texts p {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 400px) {
  .blocklfle .texts p {
    font-size: 30 px !important;
  }
}

@media (max-width: 767px) {
  .slide-sex .card-body .card-title {
    font-size: 30px !important;
    height: 60px !important;
  }
}

@media (max-width: 570px) {
  .slide-sex .card-body {
    height: 350px !important;
  }
  .slide-sex .card-body .card-text {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .flexcontainer {
    display: block !important;
  }
  .flexcontainer .arimage {
    width: 100% !important;
  }
  .flexcontainer .textacd {
    width: 100% !important;
    padding: 20px !important;
  }
  .flexcontainer .textacd h5 {
    font-size: 50px !important;
  }
  .slide-seven {
    margin-top: 40px !important;
  }
}

@media (max-width: 400px) {
  .flexcontainer .textacd h5 {
    font-size: 35px !important;
  }
  .slide-seven {
    margin-top: 30px !important;
  }
  .slide-seven .accordion-button {
    font-size: 13px !important;
  }
  .slide-seven .accordion-body {
    font-size: 13px !important;
  }
}

@media (max-width: 991px) {
  .margincl .card .card-title {
    font-size: 45px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 500px) {
  .margincl .card span {
    font-size: 13px;
  }
  .margincl .card .card-title {
    font-size: 40px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 1000px) {
  .blockteams {
    display: block !important;
  }
  .blockteams .blockone {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .blockteams .blockone h2 {
    margin-bottom: 40px;
  }
  .blockteams .blocktwo {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .headecond h1 {
    font-size: 50px !important;
  }
}

@media (max-width: 500px) {
  .tab .nav-link {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .tab .nav-link {
    font-size: 11px !important;
  }
}

@media (max-width: 991px) {
  .contact .askus p {
    padding-right: 5rem !important;
  }
}

@media (max-width: 800px) {
  .contact {
    display: block !important;
  }
  .contact .askus {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .contact .askus p {
    padding-right: 0px !important;
  }
  .contact .message {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .fixedbtn {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .card-between .card .card-title {
    height: 180px !important;
  }
  .card-between .card .card-text {
    font-size: 14px;
    height: 150px !important;
  }
}

@media (max-width: 767px) {
  .slidersext {
    margin-top: 50px !important;
  }
  .slidersext .owl-dots {
    position: absolute;
    right: 0;
    top: -40px !important;
  }
}

html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

.main-content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  text-decoration: none !important;
}

.tetxLogo, .tetxLogoDark {
  font-family: "Libre Caslon Display", serif;
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
  font-size: 55px;
  margin-right: 30px;
}

.tetxLogoDark {
  color: #000;
}

.main-img img {
  position: absolute;
  padding: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  position: relative;
  height: 700px;
}

.wrappercond {
  position: relative;
  height: auto;
}

.wrapper-menu nav, .wrapper-menu2 nav, .wrapper-menu3 nav {
  padding-top: 10px;
}

.wrapper-menu ul a, .wrapper-menu2 ul a, .wrapper-menu3 ul a {
  color: #fff;
  margin-right: 20px !important;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.wrapper-menu ul a:last-child, .wrapper-menu2 ul a:last-child, .wrapper-menu3 ul a:last-child {
  margin-right: 0;
}

.wrapper-menu ul a:hover, .wrapper-menu2 ul a:hover, .wrapper-menu3 ul a:hover {
  color: #fff !important;
}

.wrapper-menu .active, .wrapper-menu2 .active, .wrapper-menu3 .active {
  color: #fff !important;
}

.wrapper-menu2 ul a {
  color: #000 !important;
}

.wrapper-menu2 ul a:hover {
  color: #000 !important;
}

.wrapper-menu2 .active {
  color: #000 !important;
}

.wrapper-menu3 ul a {
  color: #fff !important;
}

.wrapper-menu3 ul a:hover {
  color: #fff !important;
}

.wrapper-menu3 .active {
  color: #fff !important;
}

.wrapper-button .btn, .wrapper-button2 .btn, .wrapper-button3 .btn {
  padding: 8px 25px !important;
  margin-right: 20px;
  font-size: 15px;
}

.wrapper-button .btn:last-child, .wrapper-button2 .btn:last-child, .wrapper-button3 .btn:last-child {
  margin-right: 0px !important;
}

.wrapper-button .btn a, .wrapper-button2 .btn a, .wrapper-button3 .btn a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
}

.wrapper-button3 .btn-info {
  color: #000 !important;
  background: #fff;
  border-color: #fff;
}

.wrapper-button3 .btn-outline-dark {
  color: #fff !important;
  border-color: #fff !important;
}

.wrapper-button3 .btn-outline-dark:hover {
  color: #000 !important;
  background: #fff;
  border-color: #fff;
}

.wrapper-button3 a {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.btn-outline-light:hover {
  background: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
}

.btn-info:hover {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.description, .descriptiontwo, .descriptionpress {
  position: absolute;
  top: 290px;
  width: 50%;
}

.description .about h5, .descriptiontwo .about h5, .descriptionpress .about h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.description .about h5:before, .descriptiontwo .about h5:before, .descriptionpress .about h5:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 7.5px;
  background-color: red;
  margin-right: 10px;
}

.description .about h4, .descriptiontwo .about h4, .descriptionpress .about h4 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
}

.description .about h4:before, .descriptiontwo .about h4:before, .descriptionpress .about h4:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 7.5px;
  background-color: red;
  margin-right: 10px;
}

.description span, .descriptiontwo span, .descriptionpress span {
  color: #fff;
  font-size: 130px;
  line-height: 1;
  font-family: "Libre Caslon Display", serif;
}

.descriptiontwo, .descriptionpress {
  width: 80% !important;
}

.descriptiontwo .about h5, .descriptionpress .about h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.descriptiontwo .about h5:before, .descriptionpress .about h5:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 7.5px;
  background-color: red;
  margin-right: 10px;
}

.descriptiontwo span, .descriptionpress span {
  color: #000;
}

.descriptionpress {
  top: 400px;
}

.descriptionpress span {
  color: #000 !important;
}

.ferst-block {
  padding: 5rem 7rem;
  margin-bottom: 10px;
}

.ferst-block h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 1.3;
  font-family: "Libre Caslon Display", serif;
}

.ferst-block .button {
  text-align: center;
}

.ferst-block .button .btn {
  text-transform: uppercase;
  padding: 10px 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.second-block {
  width: 100%;
  height: auto;
  background: #f3e9e2;
}

.second-block .product {
  padding: 80px 0;
}

.second-block .product h2 {
  font-size: 90px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.1;
  text-align: left;
}

.wrapperSlider {
  margin-top: 80px;
}

.wrapperSlider .card {
  border: none !important;
  text-align: center;
}

.wrapperSlider .card img {
  padding: 20px;
}

.wrapperSlider .card .card-title {
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
}

.wrapperSlider .card .card-text {
  height: 150px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 6;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.wrapperSlider .card .card-footer {
  border: none !important;
  background: none;
  margin-bottom: 20px;
}

.wrapperSlider .card .card-footer button {
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 13px;
  padding: 10px 15px;
  font-weight: 600;
}

.wrapperSlider .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.wrapperSlider .owl-dots {
  position: absolute;
  right: 0;
  top: -40px;
}

.wrapperSlider .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.bgBlue {
  background: #aee8fb !important;
}

.bgPink {
  background: #f3e9e2 !important;
}

.ourPrograms {
  margin-bottom: 40px;
}

.ourPrograms h4 {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Red Hat Display", sans-serif;
}

.padd {
  margin-top: 90px;
}

.wrapperWidth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperWidth .blockImg {
  width: 50%;
  height: 590px;
}

.wrapperWidth .blockImg .imagine {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.wrapperWidth .blockText {
  width: 50%;
  height: 590px;
  background: #f3e9e2;
  border-radius: 20px;
}

.wrapperWidth .blockText p {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0 50px;
  font-size: 45px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.1;
}

.wrapperNumbers .nameHeader {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
}

.wrapperNumbers .card {
  border: none;
  border-right: 1px solid #000;
  text-align: center;
  font-family: "Libre Caslon Display", serif;
}

.wrapperNumbers .card:last-child {
  border-right: none;
}

.wrapperNumbers .card .card-title {
  font-size: 65px;
  font-style: italic;
}

.wrapperNumbers .card p {
  font-size: 19px;
  margin-top: 15px;
}

marquee {
  font-size: 80px;
  padding: 35px 0;
  font-family: "Red Hat Display", sans-serif;
}

.header-name {
  margin-bottom: 30px;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
}

.slide-two .card, .slide-4 .card {
  padding: 25px;
}

.slide-two .card .card-text, .slide-4 .card .card-text {
  height: 150px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 6;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.slide-two .card .headercard h5, .slide-4 .card .headercard h5 {
  font-family: "Libre Caslon Display", serif;
  font-size: 50px;
  font-style: italic;
}

.slide-two .card .card-footer, .slide-4 .card .card-footer {
  border: none;
  background: transparent;
}

.slide-two .card .btn, .slide-4 .card .btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}

.slide-two .owl-dot, .slide-4 .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.slide-two .owl-dots, .slide-4 .owl-dots {
  position: absolute;
  right: 0;
  top: -40px;
}

.slide-two .owl-dots .active, .slide-4 .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.brNone {
  border: none !important;
}

.bgRed {
  background: #ff3b41 !important;
}

.clWrite {
  color: #fff !important;
}

.clRed {
  color: #ff3b41;
}

.wrapper-image {
  height: 100px !important;
}

.wrapper-image .block-hight {
  height: 600px;
}

.wrapper-image .block-hight img {
  position: relative;
  padding: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.responsimg .block-hight {
  height: 600px;
}

.responsimg .block-hight img {
  position: relative;
  padding: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.padd2 {
  margin-top: 570px;
}

.wrapper-text-blocks .card {
  border: none;
  text-align: center;
}

.wrapper-text-blocks .card .card-title {
  font-size: 90px;
  font-family: "Libre Caslon Display", serif;
}

.wrapper-text-blocks .card .card-text {
  font-size: 44px;
  font-family: "Libre Caslon Display", serif;
}

.wrapper-text-blocks .btn {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
}

.footer {
  background: #f3e9e2;
  padding: 50px 0 30px 0;
}

.footer .container {
  --bs-gutter-x: none!important;
}

.wrapperFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockOne {
  width: 50%;
}

.blockTwo {
  width: 50%;
}

.descriptionText {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}

.blockForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockForm form .mrWith {
  margin-right: 20px;
}

.blockForm form .mrWith:last-child {
  margin-right: 0;
}

.blockForm form .send {
  position: relative;
}

.blockForm form button {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.blockForm input {
  background: transparent;
  outline: none;
  border: none;
  width: 220px;
  border-bottom: 1px solid #000 !important;
  padding: 10px 0;
  font-family: "Red Hat Display", sans-serif;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

::-moz-placeholder {
  font-size: 12px;
}

:-ms-input-placeholder {
  font-size: 12px;
}

::-ms-input-placeholder {
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

.miniMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  width: 70%;
}

.link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.link ul li {
  margin-right: 15px;
}

.link ul li:last-child {
  margin-right: 0;
}

.link ul li a {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
}

.link ul li a:hover {
  text-decoration: underline !important;
}

.iconslink {
  text-align: right;
  width: 30%;
}

.iconslink a {
  color: red;
  margin-right: 20px;
}

.iconslink a:last-child {
  margin-right: 0;
}

.wrapperlogoFooter {
  margin-top: 30px;
  width: 100%;
}

.wrapperlogoFooter .image-logo img {
  position: relative;
  padding: 0px;
  display: block;
  width: 40%;
  height: 40%;
  min-width: 40%;
  max-width: 40%;
  min-height: 40%;
  max-height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapperlogoFooter .Copyright p {
  text-align: right;
  font-size: 12px;
}

.logo {
  width: 280px;
  margin-right: 30px;
}

.modal {
  --bs-modal-width:100%!important;
  height: 100% !important;
  --bs-modal-margin: 0rem!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f3e9e2 !important;
  z-index: 999;
}

.modal-content {
  background-color: #f3e9e2 !important;
  border: none !important;
}

.modal-header {
  border: none !important;
  padding-left: 30px !important;
}

.menuphone a {
  color: #000;
  font-size: 50px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.4;
}

.menuphone a:hover {
  color: #000;
}

.modal-footer {
  padding-left: 0px !important;
  border: none !important;
  padding: 0 !important;
}

.modal-body {
  padding: 0px !important;
}

.modalFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyrat {
  width: 50%;
}

.copyrat a {
  color: #000;
}

.copyrat a:hover {
  color: #000;
}

.socialIcons {
  width: 50%;
}

.socialIcons {
  text-align: right;
}

.socialIcons a {
  margin-right: 15px !important;
  color: #000;
}

.socialIcons a:last-child {
  margin-right: 0px;
}

.logoImgShow {
  width: 300px;
}

.updateColor {
  color: #fff !important;
}

.updateColor2 {
  color: #000 !important;
}

.headline {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

.specification {
  margin-top: 20px;
  width: 70%;
  position: relative;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.specification p {
  text-align: center;
  font-size: 14px;
}

.blockWith {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 690px;
}

.blockWith .blokeone, .blockWith .bloktwo {
  width: 50%;
}

.blockWith .bloktwo {
  background: #f3e9e2;
  padding: 40px;
}

.imagine {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading {
  color: red;
  font-family: "Libre Caslon Display", serif;
  font-size: 80px;
  font-style: italic;
  margin-bottom: 140px;
  line-height: 1;
}

.desctext p {
  color: red;
  font-size: 15px;
}

.slide-4 .card {
  height: auto !important;
}

.slide-4 .card .card-text {
  margin-top: 40px;
  padding: 0px;
  height: 190px;
  text-overflow: none;
  overflow: visible;
}

.information {
  text-align: center;
}

.information .mission {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Red Hat Display", sans-serif;
}

.information .missiondescript {
  padding: 0 40px;
}

.information .missiondescript p {
  font-size: 50px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.2;
}

.team .card {
  border: none !important;
}

.team .card .card-img-top {
  height: 500px !important;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .card .card-title {
  font-family: "Libre Caslon Display", serif;
  font-style: italic;
  font-size: 65px;
}

.team .card .card-text {
  font-family: "Libre Caslon Display", serif;
  font-size: 18px;
}

.blokrespons, .blokresponstwo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.blokrespons .textblockone, .blokresponstwo .textblockone {
  width: 50%;
  padding-right: 50px;
}

.blokrespons .textblockone p, .blokresponstwo .textblockone p {
  font-family: "Libre Caslon Display", serif;
  font-size: 80px;
  line-height: 1;
}

.blokrespons .textblockone p span, .blokresponstwo .textblockone p span {
  font-style: italic;
}

.blokrespons .textblocktwo, .blokresponstwo .textblocktwo {
  width: 50%;
  padding: 0 20px;
}

.blokrespons .textblocktwo a, .blokresponstwo .textblocktwo a {
  text-transform: uppercase;
  margin-top: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 600;
}

.blokresponstwo .textblockone {
  width: 60%;
  padding-right: 50px;
}

.blokresponstwo .textblockone p {
  font-size: 80px;
  line-height: 1;
  font-style: italic;
}

.blokresponstwo .textblocktwo {
  width: 40%;
  padding: 0 20px;
}

.blokresponstwo .textblocktwo p {
  font-size: 15px;
}

.responsivblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.responsivblock .blokimg {
  width: 50%;
}

.responsivblock .blokimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.responsivblock .bloktext {
  width: 50%;
  padding: 90px 50px;
}

.responsivblock .bloktext h5 {
  font-size: 60px;
  font-style: italic;
  font-family: "Libre Caslon Display", serif;
}

.responsivblock .bloktext p {
  margin-top: 220px;
}

.responsivblock .bloktext a {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.block-hightbig {
  height: 700px;
}

.block-hightbig img {
  position: relative;
  padding: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contimg, .contimgheight {
  height: 600px;
}

.contimg img, .contimgheight img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.blockfooter {
  margin-bottom: 60px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockfooter .footerimg {
  width: 50%;
}

.blockfooter .footerimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.blockfooter .footertext {
  width: 50%;
  padding: 60px;
}

.blockfooter .footertext h5 {
  font-size: 70px;
  font-family: "Libre Caslon Display", serif;
  font-style: italic;
}

.blockfooter .footertext .texst {
  margin: 40px 0;
}

.blockfooter .footertext .texst p {
  margin-top: 40px;
}

.blockfooter a {
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.testinonials {
  text-align: center;
  padding: 0 60px;
}

.testinonials h5 {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.testinonials p {
  font-size: 50px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1;
  margin-top: 40px;
}

.testinonials p span {
  font-style: italic;
}

.contimgheight {
  height: auto;
}

.blockflex, .blockflexfoot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.blockflex .bagraund, .blockflexfoot .bagraund {
  width: 50%;
}

.blockflex .bagraund img, .blockflexfoot .bagraund img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blockflex .blockwithtext, .blockflexfoot .blockwithtext {
  background: #f3e9e2;
  width: 50%;
  padding: 120px 80px;
}

.blockflex .blockwithtext a, .blockflexfoot .blockwithtext a {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  padding: 10px 15px;
}

.blockflexfoot {
  height: 700px;
}

.blockflexfoot h6 {
  margin-bottom: 60px;
  font-family: "Red Hat Display", sans-serif;
}

.flexblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.flexblock .fleximg {
  width: 50%;
  margin-right: 20px;
}

.flexblock .fleximg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.flexblock .flextext {
  width: 50%;
  background: #f3e9e2;
  border-radius: 20px;
  padding: 0 80px;
}

.flexblock .flextext .textflexs {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flexblock .flextext h4 {
  font-family: "Libre Caslon Display", serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.card-between .card {
  border: none !important;
  border-radius: 10px !important;
}

.card-between .card .card-title {
  height: 250px;
  font-size: 15px;
  font-family: "Red Hat Display", sans-serif;
}

.card-between .card .card-text {
  font-size: 14px;
  height: 110px;
}

.card-between .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.card-between .owl-dots {
  position: absolute;
  right: 0;
  top: -40px;
}

.card-between .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.slidersext .card {
  border: none !important;
}

.slidersext h5 {
  font-family: "Libre Caslon Display", serif;
  font-size: 60px;
  font-style: italic;
  height: 150px;
}

.slidersext .card-text {
  height: 130px;
}

.slidersext .card-text p {
  font-size: 15px;
}

.slidersext .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.slidersext .owl-dots {
  position: absolute;
  right: 0;
  top: -60px;
}

.slidersext .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.slider {
  padding: 40px 0;
}

.women {
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.women .blockwithimg {
  width: 50%;
}

.women .blockwithimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.women .bltext {
  width: 50%;
  background: #f3e9e2;
  padding: 80px 75px;
}

.women .bltext p {
  font-size: 45px;
  line-height: 1.1;
  font-family: "Libre Caslon Display", serif;
  margin-bottom: 30px;
}

.women .bltext a {
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 600;
}

.slide-tree {
  background: #f3e9e2;
  height: auto;
  padding: 50px 0;
}

.slide-tree .card {
  text-align: center;
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.slide-tree img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide-tree h6 {
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
}

.slide-tree p {
  font-size: 50px;
  font-family: "Libre Caslon Display", serif;
  margin-bottom: 30px;
}

.slide-tree .card-body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.slide-tree .card-body p {
  font-size: 16px;
  font-family: none;
}

.card {
  border: none !important;
}

.slide-tree .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.slide-tree .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 40px;
}

.slide-tree .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.slide-fo .card {
  height: 400px;
}

.slide-fo .card .card-text {
  font-size: 50px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.1;
  font-style: italic;
}

.slide-fo .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.slide-fo .owl-dots {
  position: absolute;
  right: 0;
  top: -40px;
}

.slide-fo .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.blocklflex, .blocklfle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.blocklflex .photo, .blocklfle .photo {
  width: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blocklflex .photo img, .blocklfle .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.blocklflex .texts, .blocklfle .texts {
  width: 50%;
  padding: 50px;
}

.blocklflex .texts h3, .blocklfle .texts h3 {
  font-size: 65px;
  font-family: "Libre Caslon Display", serif;
  font-style: italic;
  line-height: 1.1;
  margin-bottom: 60px;
}

.blocklflex .texts a, .blocklfle .texts a {
  text-transform: uppercase;
  margin-top: 15px;
  font-family: "Red Hat Display", sans-serif;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
}

.blocklfle .texts p {
  font-size: 40px;
  margin-bottom: 100px;
  font-family: "Libre Caslon Display", serif;
  line-height: 1.1;
}

.ofers {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Red Hat Display", sans-serif;
}

.slide-image {
  width: 150px;
  height: 50px;
  overflow: hidden;
  margin-right: 30px !important;
}

.slide-image img {
  width: initial;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-sex .card-header {
  border: none !important;
  background: transparent;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
}

.slide-sex .card-body {
  height: 400px;
  min-width: auto;
  max-height: auto;
}

.slide-sex .card-body .card-title {
  font-size: 40px;
  font-family: "Libre Caslon Display", serif !important;
  line-height: 1.1;
  font-weight: 0 !important;
  height: 110px;
}

.slide-sex .card-body .card-text {
  font-size: 15px;
}

.slide-sex .owl-dot {
  background: transparent !important;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000 !important;
}

.slide-sex .owl-dots {
  position: absolute;
  right: 0;
  top: -40px;
}

.slide-sex .owl-dots .active {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #000 !important;
  background: #000 !important;
}

.justlink a {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 600;
}

.flexcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  height: auto;
}

.flexcontainer .arimage {
  width: 50%;
}

.flexcontainer .arimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.flexcontainer .textacd {
  width: 50%;
  padding: 40px 50px;
}

.flexcontainer .textacd h5 {
  font-size: 60px;
  font-family: "Libre Caslon Display", serif !important;
  line-height: 1.1;
  font-style: italic;
}

.slide-seven {
  margin-top: 60px;
}

.slide-seven .accordion-item {
  background: transparent;
  border: none !important;
}

.slide-seven .accordion-button {
  background: transparent !important;
  color: #000 !important;
  font-weight: 600;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-family: "Red Hat Display", sans-serif;
}

.margincl {
  margin-top: 60px;
}

.margincl .card span {
  font-weight: 600;
  font-family: "Red Hat Display", sans-serif;
}

.margincl .card .card-title {
  font-size: 60px;
  margin-top: 20px;
  font-family: "Libre Caslon Display", serif !important;
  line-height: 1.1;
  margin-bottom: 60px;
}

.results {
  font-size: 16px !important;
  font-family: "Red Hat Display", sans-serif;
}

.tab .nav-link {
  border: none !important;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
}

.tab .nav-link:hover {
  color: #000;
}

.tab .nav-link:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 7.5px;
  border: 1px solid red;
  margin-right: 13px;
}

.tab .nav-tabs {
  border: 0 !important;
}

.tab .active:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 7.5px;
  background-color: red !important;
  margin-right: 13px;
}

.headecond h1 {
  font-size: 80px;
  font-family: "Libre Caslon Display", serif !important;
  line-height: 1.1;
  /*text-align: center;*/
}

.blockteams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockteams .blockone {
  width: 40%;
  margin-right: 60px;
}

.blockteams .blockone h2 {
  margin-bottom: 40px;
  font-family: "Red Hat Display", sans-serif;
}

.blockteams .blocktwo {
  width: 40%;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .askus {
  width: 50%;
}

.contact .askus p {
  font-size: 15px;
  padding-right: 15rem;
}

.contact .message {
  width: 50%;
}

.contact .message form input {
  margin-bottom: 25px;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid #000;
}

.contact .message form .massenger {
  position: relative;
}

.contact .message form .massenger textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-bottom: 1px solid #000;
  resize: none;
}

.contact .message form .massenger button {
  position: absolute;
  bottom: 15px;
  right: 10px;
  color: #000;
  background: transparent;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}

.contact .message ::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}

.contact .message ::-moz-placeholder {
  color: #000;
  font-size: 14px;
}

.contact .message :-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}

.contact .message ::-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}

.contact .message ::placeholder {
  color: #000;
  font-size: 14px;
}

.fixedbtn {
  display: none;
}

.fixedbtn a {
  position: fixed;
  bottom: 0px;
  padding: 15px 10px;
  background: #aee8fb;
  text-align: center;
  width: 100%;
  z-index: 1030;
  font-size: 16px;
  text-transform: uppercase;
}

/*.wrapper-menu{
     position: fixed;
     top: 0;
     background: white;
     width: 100%;
      z-index: 1030;
}*/
.mdposit {
  margin-top: 110px;
}

.mdposit2 {
  margin-top: 90px;
}

.mdposit4 {
  margin-top: 60px;
}

.mdposit5 {
  margin-top: 70px;
}

.md3 {
  margin-top: 100px;
}

.md6 {
  margin-top: 30px;
}

.md7 {
  margin-top: 10px;
}

.fw-bold {
  font-family: "Red Hat Display", sans-serif;
}
