@import "variable";
@import "mixsins";
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
html, body{
    height: 100%;
}
li {
    list-style-type: none;
}
.main-content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
a{
    text-decoration: none!important;
}
.tetxLogo{
    font-family: $fontFameliDisplay;
    color: $colorBlueLinks;
    font-style: italic;
    text-transform: uppercase;
    font-size: 55px;
    margin-right: 30px;
}
.tetxLogoDark{
    @extend .tetxLogo;
    color: #000;
}
.main-img{
    img{
        position: absolute;
        padding: 0px;
        margin: auto;
        display: block;
        width: 0px;
        height: 0px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
.wrapper{
    position: relative;
    height: 700px;
}
.wrappercond{
    position: relative;
    height: auto;
}
.wrapper-menu{
    nav{
        padding-top: 10px;
    }
    ul{
        a{
            color: $colorBlueLinks;
            margin-right: 20px!important;
            text-transform: uppercase;
            font-family: $fontFemeli;
            font-weight: 600;
            font-size: 14px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: $colorBlueLinks!important;
            }
        }
    }
    .active{
        color: $colorBlueLinks!important;
    }
}
.wrapper-menu2{
    @extend .wrapper-menu;
    ul{
        a{
            color: #000!important;
            &:hover{
                color: #000!important;
            }
        }
    }
    .active{
        color: #000!important;
    }
}
.wrapper-menu3{
    @extend .wrapper-menu;
    ul{
        a{
            color: $colorBlueLinks!important;
            &:hover{
                color: $colorBlueLinks!important;
            }
        }
    }
    .active{
        color: $colorBlueLinks!important;
    }
}
.wrapper-button{
    .btn{
        padding: 8px 25px!important;
        margin-right: 20px;
        font-size: 15px;
        &:last-child{
            margin-right: 0px!important;
        }
        a{
            color:$colorBlueLinks;
            text-transform: uppercase;
            font-family: $fontFemeli;
        }
    }
}
.wrapper-button2{
    @extend .wrapper-button;
}
.wrapper-button3{
    @extend .wrapper-button;
    .btn-info{
        color: #000!important;
        background: $colorBlueLinks;
        border-color: $colorBlueLinks;
    }
    .btn-outline-dark{
        color: $colorBlueLinks!important;
        border-color: $colorBlueLinks!important;
        &:hover{
            color: #000!important;
            background: $colorBlueLinks;
            border-color:  $colorBlueLinks;
        }
    }
    a{
        font-family: $fontFemeli;
        font-weight: 600;
        font-size: 14px;
    }
}
.btn-outline-light{
    &:hover{
        background: #0dcaf0!important;
        border-color: #0dcaf0!important;
    }
}
.btn-info{
    &:hover{
        background: #000!important;
        border-color: #000!important;
        color: #fff!important;
    }
}
.description{
    position: absolute;
    top: 290px;
    width: 50%;
    .about{
        h5{
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-family: $fontFemeli;
            &:before{
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: red;
                margin-right: 10px;
            }
        }
        h4{
            color: #000;
            text-transform: uppercase;
            font-size: 16px;
            &:before{
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: red;
                margin-right: 10px;
            }
        }
    }
    span{
        color: $colorBlueLinks;
        font-size: 130px;
        line-height: 1;
        font-family: $fontFameliDisplay;
    }
}
.descriptiontwo{
    @extend .description;
    width: 80%!important;
    .about{
        h5{
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            &:before{
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: red;
                margin-right: 10px;
            }
        }

    }
    span{
        color: #000;
    }
}
.descriptionpress{
    @extend .descriptiontwo;
    top: 400px;

    span{
        color: #000!important;
    }

}
.ferst-block{
    padding: 5rem 7rem;
    margin-bottom: 10px;
    h2{
        text-align: center;
        margin-bottom: 40px;
        font-size: 45px;
        line-height: 1.3;
        font-family: $fontFameliDisplay;
    }
    .button{
        text-align: center;
        .btn{
            text-transform: uppercase;
            padding: 10px 15px;
            font-family: $fontFemeli;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.second-block{
    width: 100%;
    height: auto;
    background: #f3e9e2;
    .product{
        padding: 80px 0;
        h2{
            font-size: 90px;
            font-family: $fontFameliDisplay;
            line-height: 1.1;
            text-align: left;
        }
    }
}
.wrapperSlider{
    margin-top: 80px;
    .card{
        border: none!important;
        text-align: center;

        img{
            padding: 20px;
        }
        .card-title{
            margin-bottom: 20px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $fontFemeli;
        }
        .card-text{
            height: 150px;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 6;
            -webkit-line-clamp: 6;
            line-clamp: 6;
            display: -webkit-box;
            display: box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical;

        }
        .card-footer{
            border:none!important;
            background: none;
            margin-bottom: 20px;
            button{
                text-transform: uppercase;
                font-family:$fontFemeli;
                font-size: 13px;
                padding: 10px 15px;
                font-weight: 600;
            }
        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.bgBlue{
    background: #aee8fb!important;
}
.bgPink{
    background: #f3e9e2!important;
}
.ourPrograms{
    margin-bottom: 40px;
    h4{
        text-transform: uppercase;
        font-size: 17px;
        font-family: $fontFemeli;
    }
}
.padd{
    margin-top: 90px;
}
.wrapperWidth{
    width: 100%;
    display: flex;
    .blockImg{
        width: 50%;
        height: 590px;
        .imagine{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;

        }
    }
    .blockText{
        width: 50%;
        height: 590px;
        background: #f3e9e2;
        border-radius: 20px;
        p{
            top: 50%;
            position:relative;
            transform: translate(0, -50%);
            padding: 0 50px;
            font-size: 45px;
            font-family: $fontFameliDisplay;
            line-height: 1.1;
        }
    }
}

.wrapperNumbers{
    .nameHeader{
        margin-bottom: 70px;
        text-align: center;
        font-weight: bold;
        font-family: $fontFemeli;
    }
    .card{
        border: none;
        border-right: 1px solid #000;
        text-align: center;
        font-family: $fontFameliDisplay;
        &:last-child{
            border-right: none;
        }
        .card-title{
            font-size: 65px;
            font-style: italic;
        }
        p{
            font-size: 19px;
            margin-top: 15px;
        }
    }
}
marquee{
    font-size: 80px;
    padding: 35px 0;
    font-family: $fontFemeli;

}
.header-name{
    margin-bottom: 30px;
    font-family: $fontFemeli;
    text-transform: uppercase;
}
.slide-two{
    .card{
        padding: 25px;
        .card-text{
            height: 150px;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 6;
            -webkit-line-clamp: 6;
            line-clamp: 6;
            display: -webkit-box;
            display: box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical;
        }
        .headercard{
            h5{
                font-family: $fontFameliDisplay;
                font-size: 50px;
                font-style: italic;
            }
        }
        .card-footer{
            border: none;
            background: transparent;
        }
        .btn{
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 14px;
            font-family: $fontFemeli;
            font-weight: 600;
        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.brNone{
    border: none!important;
}
.bgRed{
    background: #ff3b41!important;
}
.clWrite{
    color: #fff!important;
}
.clRed{
    color: #ff3b41;
}

.wrapper-image {
    height: 100px!important;
    .block-hight{
        height: 600px;
        img{
            position: relative;
            padding: 0px;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

}
.responsimg{
    .block-hight{
        height: 600px;
        img{
            position: relative;
            padding: 0px;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
}
.padd2{
    margin-top: 570px;
}
.wrapper-text-blocks{
    .card{
        border: none;
        text-align: center;
        .card-title{
            font-size: 90px;
            font-family: $fontFameliDisplay;
        }
        .card-text{
            font-size: 44px;
            font-family: $fontFameliDisplay;
        }
    }
    .btn{
        margin-top: 20px;
        font-size: 14px;
        font-family: $fontFemeli;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 15px;
    }
}
.footer{
    background: #f3e9e2;
    padding: 50px 0 30px 0;
    .container{
        --bs-gutter-x: none!important;
    }
}
.wrapperFooter{
    width: 100%;
    display: flex;
}
.blockOne{
    width: 50%;
}
.blockTwo{
    width: 50%;
}
.descriptionText{
    font-family: $fontFemeli;
    font-weight: 600;
    margin-bottom: 40px;
}
.blockForm{
    form{
        display: flex;
        .mrWith{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
        .send{
            position: relative;
        }
        button {
            position: absolute;
            bottom: 10px;
            right: 5px;
            background: transparent;
            border: none;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
        }
    }
    input{
        background: transparent;
        outline: none;
        border: none;
        width: 220px;
        border-bottom: 1px solid #000!important;
        padding:10px 0;
        font-family: $fontFemeli;
    }

}
::placeholder {
    font-size: 12px;
}
.miniMenu{
    width: 100%;
    display: flex;
}
.link{
    width: 70%;
    ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        li{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
            a{
                color: $colorLinks;
                font-family: $fontFemeli;
                &:hover{
                    text-decoration: underline!important;
                }
            }
        }
    }
}
.iconslink{
    text-align: right;
    width: 30%;
    a{
        color: red;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.wrapperlogoFooter{
    margin-top: 30px;
    width: 100%;
    .image-logo{
        img{
            position: relative;
            padding: 0px;
            display: block;
            width: 40%;
            height: 40%;
            min-width: 40%;
            max-width: 40%;
            min-height: 40%;
            max-height: 40%;
            object-fit: cover;
        }
    }
    .Copyright{
        p{
            text-align: right;
            font-size: 12px;
        }
    }
}
.logo{
    width: 280px;
    margin-right: 30px;
}

.modal{
    --bs-modal-width:100%!important;
    height: 100%!important;
    --bs-modal-margin: 0rem!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#f3e9e2!important;
    z-index: 999;

}
.modal-content{
    background-color:#f3e9e2!important;
    border: none!important;
}
.modal-header{
    border: none!important;
    padding-left: 30px!important;
}
.menuphone{
    a{
        color: $colorLinks;
        font-size: 50px;
        font-family: $fontFameliDisplay;
        line-height: 1.4;
        &:hover{
            color: $colorLinks;
        }
    }
}
.modal-footer{
    padding-left: 0px!important;
    border: none!important;
    padding: 0!important;
}
.modal-body{
    padding: 0px!important;
}
.modalFooter{
    width: 100%;
    display: flex;
}
.copyrat{
    width: 50%;
    a{
        color: $colorLinks;
        &:hover{
            color: $colorLinks;
        }
    }
}
.socialIcons{
    width: 50%;
}
.socialIcons{
    text-align: right;
    a{
        margin-right: 15px!important;
        color: $colorLinks;
        &:last-child{
            margin-right: 0px;
        }
    }
}
.logoImgShow{
    width: 300px;
}
.updateColor{
    color: $colorLinks2!important;
}
.updateColor2{
    color: $colorLinks!important;
}
.headline{
    text-align: center;
    font-family: $fontFemeli;
}
.specification{
    margin-top: 20px;
    width: 70%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%) ;
    p{
        text-align: center;
        font-size: 14px;
    }
}
.blockWith{
    @include widthFlex;
    height: 690px;
    .blokeone{
        @include widthSlase;
    }
    .bloktwo{
        @extend .blokeone;
        background: #f3e9e2;
        padding: 40px;
    }
}

.imagine{
    @include img;
}
.heading{
    color: red;
    font-family: $fontFameliDisplay;
    font-size: 80px;
    font-style: italic;
    margin-bottom: 140px;
    line-height: 1;
}
.desctext{
    p{
        color: red;
        font-size: 15px;
    }
}
.slide-4{
    @extend .slide-two;
    .card{
        height: auto!important;
        .card-text{
            margin-top: 40px;
            padding: 0px;
            height: 190px;
            text-overflow: none;
            overflow: visible;

        }
    }
}
.information{
    text-align: center;
    .mission{
        text-transform: uppercase;
        font-weight: 600;
        font-family: $fontFemeli;
    }
    .missiondescript{
        padding: 0 40px;
        p{
            font-size: 50px;
            font-family: $fontFameliDisplay;
            line-height: 1.2;
        }
    }
}
.team{
    .card{
        border: none!important;
        .card-img-top{
            height: 500px!important;
            border-radius: 10px;
            @include img;
        }
        .card-title{
            font-family: $fontFameliDisplay;
            font-style: italic;
            font-size: 65px;
        }
        .card-text{
            font-family: $fontFameliDisplay;
            font-size: 18px;
        }
    }
}
.blokrespons{
    @include widthFlex;
    height: auto;
    .textblockone{
        @include widthSlase;
        padding-right: 50px;
        p{
            font-family: $fontFameliDisplay;
            font-size: 80px;
            line-height: 1;
            span{
                font-style: italic;
            }
        }
    }
    .textblocktwo{
        @include widthSlase;
        padding: 0 20px;
        a{
            text-transform: uppercase;
            margin-top: 15px;
            font-family: $fontFemeli;
            font-size: 14px;
            padding: 10px 15px;
            font-weight: 600;
        }
    }
}
.blokresponstwo{
    @extend .blokrespons;
    .textblockone{
        width: 60%;
        padding-right: 50px;
        p{
            font-size: 80px;
            line-height: 1;
            font-style: italic;
        }
    }
    .textblocktwo{
        width: 40%;
        padding: 0 20px;
        p{
            font-size: 15px;
        }
    }
}
.responsivblock{
    @include widthFlex;
    height: 600px;
    .blokimg{
        @include widthSlase;
        img{
            @include img;
            border-radius: 20px;
        }
    }
    .bloktext{
        @include widthSlase;
        padding: 90px 50px;
        h5{
            font-size: 60px;
            font-style: italic;
            font-family: $fontFameliDisplay;
        }
        p{
            margin-top: 220px;
        }
        a{
            margin-top: 15px;
            text-transform: uppercase;
            font-family: $fontFemeli;
            font-size: 16px;
        }
    }
}
.order{
    order: 1;
}
.block-hightbig{
    height:700px;
    img{
        @include responsiveImg;
    }
}
.contimg{
    height: 600px;
    img{
        @include img;
        border-radius: 20px;
    }
}
.blockfooter{
    margin-bottom: 60px;
    height: auto;
    @include widthFlex;
    .footerimg{
        @include widthSlase;
        img{
            @include img;
            border-radius: 20px;
        }
    }
    .footertext{
        @include widthSlase;
        padding: 60px;
        h5{
            font-size: 70px;
            font-family: $fontFameliDisplay;
            font-style: italic;
        }
        .texst{
            margin: 40px 0;
            p{
                margin-top: 40px;
            }
        }
    }
    a{
        text-transform: uppercase;
        font-family: $fontFemeli;
        font-size: 16px;
    }
}
.testinonials{
    text-align: center;
    padding: 0 60px;
    h5{
        font-size: 16px;
        font-family: $fontFemeli;
    }
    p{
        font-size: 50px;
        font-family: $fontFameliDisplay;
        line-height: 1;
        margin-top: 40px;
        span{
            font-style: italic;
        }
    }
}
.contimgheight{
    @extend .contimg;
    height: auto;
}
.blockflex{
    @include widthFlex;
    height: auto;
    .bagraund{
        @include widthSlase;
        img{
            @include img;
        }
    }
    .blockwithtext{
        background: #f3e9e2;
        @include widthSlase;
        padding: 120px 80px;
        a{
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 14px;
            font-family: $fontFemeli;
            padding: 10px 15px;
        }
    }
}
.blockflexfoot{
    @extend .blockflex;
    height: 700px;
    h6{
        margin-bottom: 60px;
        font-family: $fontFemeli;
    }
}
.flexblock{
    @include widthFlex;
    height: 600px;
    .fleximg{
        @include widthSlase;
        margin-right: 20px;
        img{
            @include img;
            border-radius: 20px;
        }
    }
    .flextext{
        @include widthSlase;
        background: #f3e9e2;
        border-radius: 20px;
        padding: 0 80px;
        .textflexs{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
        h4{
            font-family: $fontFameliDisplay;
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
}
.card-between{
    .card{
        border: none!important;
        border-radius: 10px!important;
        .card-title{
            height: 250px;
            font-size: 15px;
            font-family: $fontFemeli;
        }
        .card-text{
            font-size: 14px;
            height: 110px;
        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.slidersext{
    .card{
        border: none!important;
    }
    h5{
        font-family:$fontFameliDisplay;
        font-size: 60px;
        font-style: italic;
        height: 150px;
    }
    .card-text{
        height: 130px;
        p{
            font-size: 15px;

        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -60px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.slider{
    padding: 40px 0;
}

.women{
    height: 650px;
    @include widthFlex;
    .blockwithimg{
        @include widthSlase;
        img{
            @include img;
        }
    }
    .bltext{
        @include widthSlase;
        background: #f3e9e2;
        padding: 80px 75px;
        p{
            font-size: 45px;
            line-height: 1.1;
            font-family: $fontFameliDisplay;
            margin-bottom: 30px;
        }
        a{
            text-transform: uppercase;
            font-family: $fontFemeli;
            font-size: 14px;
            padding: 10px 15px;
            font-weight: 600;
        }
    }
}
.slide-tree{
    background: #f3e9e2;
    height: auto;
    padding: 50px 0;
    .card{
        text-align: center;
        background: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40rem;
    }
    img{
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h6{
        text-transform: uppercase;
        font-family: $fontFemeli;
    }
    p{
        font-size: 50px;
        font-family: $fontFameliDisplay;
        margin-bottom: 30px;
    }
    .card-body{
        margin-top: 30px;
        margin-bottom: 30px;
        p{
            font-size: 16px;
            font-family: none;
        }
    }
}
.card{
    border: none!important;
}
.slide-tree{
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;

    }
    .owl-dots{
        position: absolute;
        left: 50%;
        transform: translate( -50%);
        bottom: 40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;

        }
    }
}
.slide-fo{
    .card{
        height: 400px;
        .card-text{
            font-size: 50px;
            font-family: $fontFameliDisplay;
            line-height: 1.1;
            font-style: italic;
        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.blocklflex{
    @include widthFlex;
    height: 600px;
    .photo{
        @include widthSlase;
        order: 1;
        img{
            @include img;
            border-radius: 20px;
        }
    }
    .texts{
        @include widthSlase;
        padding: 50px;
        h3{
            font-size: 65px;
            font-family: $fontFameliDisplay;
            font-style: italic;
            line-height: 1.1;
            margin-bottom: 60px;
        }
        a{
            text-transform: uppercase;
            margin-top: 15px;
            font-family: $fontFemeli;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
.blocklfle{
    @extend .blocklflex;
    .texts{
        p{
            font-size: 40px;
            margin-bottom: 100px;
            font-family: $fontFameliDisplay;
            line-height: 1.1;
        }
    }
}

.ofers{
    text-align: center;
    margin-bottom: 60px;
    font-family: $fontFemeli;
}
.slide-image{
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin-right: 30px!important;
    img{
        width: initial;
        height: 50px;
        object-fit: contain;
    }
}
.slide-sex{
    .card-header{
        border: none!important;
        background: transparent;
        font-family: $fontFemeli;
        text-transform: uppercase;
    }
    .card-body{
        height: 400px;
        min-width: auto;
        max-height: auto;
        .card-title{
            font-size: 40px;
            font-family: $fontFameliDisplay!important;
            line-height: 1.1;
            font-weight: 0!important;
            height: 110px;
        }
        .card-text{
            font-size: 15px;
        }
    }
    .owl-dot{
        background: transparent!important;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000!important;
    }
    .owl-dots{
        position: absolute;
        right: 0;
        top: -40px;
        .active{
            height: 8px;
            width: 8px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid #000!important;
            background: #000!important;
        }
    }
}
.justlink{
    a{
        position: relative;
        left: 50%;
        transform: translate( -50%);
        margin-top: 20px;
        font-family: $fontFemeli;
        font-size: 14px;
        padding: 10px 15px;
        font-weight: 600;
    }
}
.flexcontainer{
    @include widthFlex;
    padding: 60px 0;
    height: auto;
    .arimage{
        @include widthSlase;
        img{
            @include img;
            border-radius: 20px;
        }
    }
    .textacd{
        @include widthSlase;
        padding: 40px 50px;
        h5{
            font-size: 60px;
            font-family: $fontFameliDisplay!important;
            line-height: 1.1;
            font-style: italic;
        }
    }
}
.slide-seven{
    margin-top: 60px;
    .accordion-item{
        background: transparent;
        border: none!important;
    }
    .accordion-button{
        background: transparent!important;
        color: #000!important;
        font-weight: 600;
        border: none!important;
        box-shadow: none!important;
        font-family: $fontFemeli;
    }
}
.margincl{
    margin-top: 60px;
    .card{
        span{
            font-weight: 600;
            font-family: $fontFemeli;
        }
        .card-title{
            font-size: 60px;
            margin-top: 20px;
            font-family: $fontFameliDisplay!important;
            line-height: 1.1;
            margin-bottom: 60px;
        }
    }
}
.results{
    font-size: 16px!important;
    font-family: $fontFemeli;
}
.tab{
    .nav-link{
        border: none!important;
        color: #000;
        font-family: $fontFemeli;
        &:hover{
            color: #000;
        }
        &:before{
            content: '';
            display: inline-block;
            width: 11px;
            height: 11px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            border: 1px solid red;
            margin-right: 13px;
        }
    }
    .nav-tabs{
        border: 0!important;
    }
}
.tab{
    .active{
        &:before{
            content: '';
            display: inline-block;
            width: 11px;
            height: 11px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: red!important      ;
            margin-right: 13px;
        }
    }
}
.headecond{
    h1{
        font-size: 80px;
        font-family: $fontFameliDisplay!important;
        line-height: 1.1;
        /*text-align: center;*/
    }
}
.blockteams{
    display: flex;
    .blockone{
        width: 40%;
        margin-right: 60px;
        h2{
            margin-bottom: 40px;
            font-family: $fontFemeli;
        }
    }
    .blocktwo{
        width: 40%;
    }
}
.contact{
    @include widthFlex;
    .askus{
        @include widthSlase;
        p{
            font-size: 15px;
            padding-right: 15rem;
        }
    }
    .message{
        @include widthSlase;
        form{
            input{
                margin-bottom: 25px;
                width: 100%;
                height: 45px;
                border: none;
                border-bottom: 1px solid #000;

            }
            .massenger{
                position: relative;
                textarea{
                    width: 100%;
                    height: 150px;
                    border: none;
                    border-bottom: 1px solid #000;
                    resize: none;
                }
                button {
                    position: absolute;
                    bottom: 15px;
                    right: 10px;
                    color:#000;
                    background: transparent;
                    border: none;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-family: $fontFemeli;
                    font-weight: 600;
                }
            }
        }
        ::placeholder {
            color:#000;
            font-size: 14px;
        }
    }
}
.fixedbtn{
    display: none;
    a{
        position: fixed;
        bottom: 0px;
        padding: 15px 10px;
        background:  #aee8fb;
        text-align: center;
        width: 100%;
        z-index: 1030;
        font-size: 16px;
        text-transform: uppercase;
    }
}
/*.wrapper-menu{
     position: fixed;
     top: 0;
     background: white;
     width: 100%;
      z-index: 1030;
}*/
.mdposit{
    margin-top: 110px;
}
.mdposit2{
    margin-top: 90px;
}
.mdposit4{
    margin-top: 60px;
}
.mdposit5{
    margin-top: 70px;
}
.md3{
    margin-top: 100px;
}
.md6{
    margin-top: 30px;
}
.md7{
    margin-top: 10px;
}
.fw-bold{
    font-family: $fontFemeli;
}