@media (max-width: 992px){
    .wrapper-main-menu {
        a{
            padding: 0px!important;
            margin: 20px;
        }
    }
}
@media (max-width: 780px){
    .wrapper-main-menu {
        li{

            &:nth-child(-n+3){
                display: none!important;
            }
        }
    }
}
@media (max-width: 1020px){
    .navigation{
        ul{
            display: block!important;
            .content2{
                display: none;
            }
        }
    }
}
@media (max-width: 1350px){
    .icons {
        a{
            display: inline-block!important;
        }
    }
}
@media (max-width: 900px){
    .navigation {
        .content{
            a{
                font-size: 70px!important;
            }
        }
    }
}
@media (max-width: 600px){
    .navigation {
        .content{
            a{
                font-size: 50px!important;
            }
        }
    }
}
@media (max-width: 1118px){
    .cardCarousel{
        .card-body{
            .card-title{
                padding: 3px 0!important;
            }
            .card-text{
                font-size: 33px!important;
            }
        }
    }
}
@media (max-width: 765px){
    .cardCarousel{
        .card-body{
            .card-text{
                font-size: 28px!important;
            }
        }
    }
}
@media (max-width: 600px){
    .cardCarousel{
        .card-body{
            .card-text{
                font-size: 40px!important;
            }
        }
    }
}
@media (max-width: 1200px){
    .wrapper-menu{
        ul{
            a{
                margin-right: 5px!important;
                font-size: 13px!important;
            }
        }
    }
}
@media (max-width: 993px){
    .ferst-block{
        padding: 5rem 2rem!important;
        h2{
            font-size: 40px!important;
        }
    }
}
@media (max-width: 766px){
    .ferst-block{
        padding: 5rem 0rem!important;
        h2{
            font-size: 25px!important;
        }
    }
}
@media (max-width: 766px){
    .second-block{
        .product{
            padding: 60px 10px!important;
            h2{
                font-size: 40px!important;
                text-align: center!important;
            }
        }
    }
}
@media (max-width: 767px){
    .wrapperWidth{
        display: block!important;
        .blockImg{
            width: 100%!important;
            height: 480px!important;
            .imagine{
                border-radius: 20px 0px 0px 0px!important;
            }
        }
        .blockText{
            width: 100%!important;
            height: 110px!important;
            border-radius: 0px 0px 20px 20px!important;
            p{
                font-size: 24px!important;
                padding: 10px 20px!important;
            }
        }
    }
}
@media (max-width: 1200px){
    .card-group{
        .card{
            height: 180px!important;
        }
    }
}
@media (max-width: 800px){
    .nameHeader{
        margin-bottom: 20px!important;
    }
    .card-group{
        display: block!important;
        .card{
            border-right: none!important;
            border-bottom: 1px solid #F3E9E2!important;
            height: auto!important;
            &:last-child{
                border-bottom: none!important;
            }
        }
    }
}
@media (max-width: 800px){
    marquee{
        font-size: 50px!important;
        padding: 30px 0!important;

    }
}
@media (max-width: 600px){
    marquee{
        font-size: 30px!important;
        padding: 30px 0!important;

    }
}

@media (max-width: 1200px){
    .headercard{
        h5{
            font-size: 30px!important;
        }
    }
}

@media (max-width: 600px){
    .slide-two{
        .card{
            .card-text{
                height: 90px;
            }
            .headercard{
                h5{
                    font-size: 40px!important;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .block-hight{
        height: 400px!important;
    }
}

@media (max-width: 1000px){
    .padd2{
        margin-top: 300px!important;
    }
}


@media (max-width: 900px){
    .wrapper-text-blocks{
        .card{
            .card-title{
                font-size: 50px!important;
            }
            .card-text{
                font-size: 36px!important;
            }
        }
        .btn{
            margin-top: 10px!important;
        }
    }
}

@media (max-width: 400px){
    .wrapper-text-blocks{
        .card{
            .card-title{
                font-size: 48px!important;
                line-height: 1;
            }
        }

    }
}

