@mixin colorLinks {
    color: $colorLinks;
    &:hover{
        color: lighten($colorLinks, 40%);
    }
}
@mixin logo{
    font-weight: bold;
    color: $mainTextColor;
    font-size: 30px;
}

@mixin links-humburg-menu{
    color: $colorLinks2;
    font-size: 80px;
    font-weight: bold;
    font-family: $fontstext;
    &:hover{
        color: pink;
    }
}
@mixin cardCategory{
    font-size: 23px!important;
    font-family: $fontstext;
    color: $colorLinks;
}
@mixin cardDescription{
    font-size: 40px;
    font-weight: bold;
    font-family: $fontstext;
    color: $colorLinks;
}