$mainTextColor:#000;
$textColor:#fff;
$textColorBlue:#aee8fb;
$colorLinks:#000;
$colorLinks2:#fff;
$colorBlueLinks:#aee8fb;
$fontFemeli:'Red Hat Display', sans-serif;
$fontFameliDisplay:'Libre Caslon Display', serif;
